/*------------------------------------*/
/* #LINKS */
/*------------------------------------*/

a {
  color: var(--snow-plant);
  text-decoration: none;
}

a:hover,
a.active {
  text-decoration: underline;
}

/*------------------------------------*/

.logo-link {
  transition: var(--timing);
}

.logo-link:hover {
  opacity: 0.5;
}

/*------------------------------------*/

/* subtle link */
.card p {
  color: black;
}
