/*------------------------------------*/
/* #MEDIA */
/*------------------------------------*/

.signature {
  max-width: 10rem;
}



.author-block {
  display: grid;

  > * {
    grid-row: 1;
    grid-column: 1;
    aspect-ratio: 1;
  }
  
  .pine-block {
    margin: 0.1rem 0.1rem;
    background-color: var(--pine);
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    border: 0.5rem solid white;
  }

  .gold-block {
    margin: -0.1rem -0.1rem;
    background-color: gold;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    border: 0.5rem solid white;
  }

  .author {
    border-radius: 50%;
    margin: var(--line-height);
    border: 0.5rem solid white;
  }
}

/*------------------------------------*/

.slider {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: var(--line-height);

  > * {
    flex: 1 1 var(--swan);
  }
}
