/*------------------------------------*/
/* #MEDIA */
/*------------------------------------*/

.signature {
  max-width: 10rem;
}

.author-block {
  display: grid;

  > * {
    grid-row: 1;
    grid-column: 1;
    aspect-ratio: 1;
  }

  .author {
    margin: var(--line-height);
    border: 0.5rem solid white;
  }
}

/*------------------------------------*/

.slider {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: var(--line-height);

  > * {
    flex: 1 1 var(--swan);
  }
}
