/*------------------------------------*/
/* #TYPOGRAPHY */
/*------------------------------------*/

body {
  font-family: sans-serif;
}

/*------------------------------------*/

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.notes {
  font-family: var(--font-cursive);
}

.font-cursive {
  font-family: var(--font-cursive);
}
