/*------------------------------------*/
/* #TYPOGRAPHY */
/*------------------------------------*/

body {
  font-family: sans-serif;
}

/*------------------------------------*/

.text-center {
  text-align: center;
}

.notes {
  font-family: var(--font-cursive);
}
