/*------------------------------------*/
/* VARIABLES */
/*------------------------------------*/

:root {
  /*------------------*/
  /* COLOR */
  /*------------------*/
  --pine: 35;

  /*------------------------------------*/
  /* #TYPOGRAPHY */
  /*------------------------------------*/

  --line-height: 1.25rem;

  /*------------------*/
  /* WIDTHS */
  /*------------------*/
  /*  https://en.wikipedia.org/wiki/Largest_living_flying_birds_by_wingspan */
  --swan: 20rem;
  --vulture: 30rem;
  --stork: 40rem;
  --condor: 50rem;
  --pelican: 60rem;
  --albatross: 80rem;
}
