/*------------------------------------*/
/* VARIABLES */
/*------------------------------------*/

:root {
  /*------------------*/
  /* COLOR */
  /*------------------*/
  --pine: hsl(145, 100%, 25%);

  --mint: oklch(80% 0.12 155);
  --ice: oklch(75% 0.08 210);

  --snow-plant: hsl(5, 95%, 35%);
  --hibernal: hsl(205, 100%, 45%);

  /*------------------------------------*/
  /* #TYPOGRAPHY */
  /*------------------------------------*/

  --font-sans: "Josefin Sans Variable", sans-serif;
  --font-cursive: "Caveat Variable", cursive;

  --everest: 3rem; /* 29,035ft Asia */
  --aconcagua: 2.5rem; /* 22,840ft South America */
  --denali: 2rem; /* 20,320ft North America */
  --kilimanjaro: 1.5rem; /* 19,340ft Africa */
  --elbrus: 1.25rem; /* 18,510ft Europe / Russia */
  --vinson: 1rem; /* 16,050ft Antartica */
  --kosciuszko: 0.75rem; /* 7,310ft Australia */

  --line-height: 1.25rem;

  /*------------------*/
  /* WIDTHS */
  /*------------------*/
  /*  https://en.wikipedia.org/wiki/Largest_living_flying_birds_by_wingspan */
  --swan: 20rem;
  --vulture: 30rem;
  --stork: 40rem;
  --condor: 50rem;
  --pelican: 60rem;
  --albatross: 80rem;

  /*------------------*/

  --border-radius: 0.25rem;

  /*------------------------------------*/

  --timing: 0.25s;

  /*------------------*/
  /* Z INDEX LAYERS */
  /*  https://en.wikipedia.org/wiki/Forest */
  /*------------------*/

  --floor: 0;
  --canopy: 1;
  --emergent: 2;
}
